@font-face {
  font-family: 'Mojangles';
  src: url('./fonts/mojangles.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mojangles', sans-serif;
  text-align: center;
  border: 0px solid transparent;
  outline: none;
  transition: 0.25s ease;
  color: var(--textColor);
  font-weight: 600;
  list-style: none;
}
body, html, #root{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: var(--greyColor);
  border-radius: var(--borderRadius);
  padding: var(--padding);
  font-family: 'Mojangles', sans-serif;
}
button.grey-bg:hover>*{
  color: var(--whiteColor);
}
button:active{
  transform: scale(0.95);
}
a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
::placeholder{
  color: white;
}
input, textarea{
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: skyblue;
  border-radius: var(--borderRadius);
  padding: var(--padding);
  box-shadow: 2px 2px 2px grey;
}
